{% if i.types_of_activities == "Phone Call"  %}
      <div class="col-lg-2 col-md-2">
        <center><button class="task_button"><b><i class="fa fa-phone taskicon_list" aria-hidden="true"></i></b> </button></center>
      </div>
      {% elif i.types_of_activities == "Meeting" %}
      <div class="col-lg-2 col-md-2">
        <center><button class="task_button"><b><i class="fa-solid fa-user-group taskicon_list"></i></b> </button></center>
      </div>
      {% elif i.types_of_activities == "Email" %}
      <div class="col-lg-2 col-md-2">
        <center><button class="task_button"><b><i class="fa-solid fa-envelope taskicon_list"></i></b> </button></center>
      </div>
        {%endif%} 