<ul>
    <li><a href="/sales_manager/sm_salesdashboard/jhvh" class="nav-link scrollto active"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/sales_manager/sm_sales_profile/jhvh" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/sales_manager/sm_hand_list/jhvh" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Task</span></a></li>
    <li><a href="/sales_manager/sm_users/jhvh" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>User</span></a></li>
    <li><a href="/sales_manager/sm_accountsetting/jhvh" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>