<!DOCTYPE html>
{% load static %}

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Local Admin Dashboard</title>
  <link rel="stylesheet" href="{% static 'css/sm_dashboard.css' %}">

	  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- BS -->
  <link href=" {% static 'vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content = "ie=edge">  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- over -->

</head>
<body style=" background-color:#F4F2FF;">
   
 <div class="dash_bor_sec1">

  <div class="dash_bor_sdbr" id="dashsidebar">

      <header id="header">
    <div class="d-flex flex-column">
        <img src="{% static 'images/Logo.png' %}" alt="" class="Logo mt-4 ms-3">

      <nav id="navbar" class="nav-menu navbar">
        {% include "sm_nav.html" %}

      </nav>
      <!-- .nav-menu -->
    </div>
    <h5 style="position:;bottom:;color:white;font-size:0.6em;left:20px;">© 2020 Marryoo. All rIghts reserved</h5>
  </header>
  
  </div>

  <div class="dash_bor_main1">
    {% include 'sm_header.html' %}
    <!-- start1-->
<!-- 
    <div class="dash_par1" style="background:white;">

          <i class="fa-regular fa-bell"></i>

        <div class="dash_brd_img1">
         <img src="{% static 'images/girl1.png' %}">
          <i class="fa-solid fa-caret-down"></i> -->
         <!-- <select class="select">
          <option value="1" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg">One</option>
          <option value="2" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg">Two</option>
          <option value="3" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg">Three</option>
          <option value="4" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg">Four</option>
          <option value="5" data-mdb-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg">Five</option>
        </select>
         </div>

    </div> -->
    <i class="bi bi-list fa-solid mobile-nav-toggle fa-bars" id="dashnavclick"></i>  
    <!-- over -->

    <!-- start2 -->
    <div class="dash_par2 my-5 px-3"> 
         
        <h4>Dashboard</h4>

        <button>Download Report <i class="fa-solid fa-file-excel"></i></button>

    </div>
    <!-- over -->

    <!-- start3 -->
      <div class="dash_par3 my-4 px-3"> 
         
        <div class="dash_bor_box">
           
           <div>
             
             
             <i class="fa-solid fa-image dash_users"></i>

           </div>

          <div>
            
            <h4 style="color:#3247CE">{{all_client_data|length}}</h4>
            <h5>Total Clients</h5>
          </div>

        </div>

          <div class="dash_bor_box">

            <div>
             <i class="fa-solid fa-copper-coin-line dash_dot"></i>
            </div>

            <div>
            <h4 style="color:#EB5757">30</h4>
            <h5>Total Coins</h5>
          </div>
          
        </div>

    

         <div class="dash_bor_box">

          <div>
            
            <i class="fa-solid fa-wallet dash_db_user"></i>
          </div>
          
           <div class="dash_ratstr">
           
            <div class="dash_strpos">
               <h4 style="color:#2B3674">5,000(USD)</h4>
            </div>
            <h5>Total Commissions</h5>
          </div> 


        </div>

          <div class="dash_bor_box">

           <div>
          
             <i class="fa-solid fa-circle dash_dlr"></i>
           </div>

           <div>
             <h4 style="color: #2B3674">2,500(USD)</h4>
            <h5>Total Withdrawals</h5>
           </div>


        </div>


    </div>
    <!-- over -->
    <!-- start -->
    <div class="dash_bor_rsp my-4 px-3">

      <div>
        <h4>Recent Clients</h4>
      </div>


      <div class="dash_bor_rsp_1">
        <i class="fa-solid fa-ellipsis-vertical"></i>

        <select class="form-select">
          <option value="Indian">Indian</option>
        </select>
      </div>
      

      
    </div>
    <!-- over -->

    <!-- start -->
     <div class="dash_bor_table px-4">

      <table class=" table table-borderless">

      <tr class="me-5">
        
        <th class="py-4">#No</th>
        <th class="py-4">User Id</th>
        <th class="py-4">Name</th>
        <th class="py-4">Email Id</th>
      </tr>
      {% for i in all_client_data %}
      <tr>
        <td class="py-4">{{forloop.counter}}</td>
        <td class="py-4">{{i.uid}}</td>
        <td class="dash_bor_table_img"><img src="{{i.picture}}" class="mx-2">{{i.client_name}}</td>
        
        <td class="py-4">{{i.email}}</td>
      </tr>
      {%endfor%}
  
        <div class="py-4">
      

    </table>

  

    <div class="dash_bor_rsp_va my-3">
      <a href="/sales_manager/sm_hand_list/{{key.uid}}" class="mx-3">View All</a>
    </div>

     </div>
    <!-- over -->

    <!-- start -->

    <div class="dash_bor_tables my-5">

      <div class="dash_bor_table1">

        <div class="dash_bor_split px-4">
          <h5>Coins Earn</h5>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </div>

        <div class="px-4 my-3">
          <table class="table table-borderless">

            <tr>
              <th class="py-4">Ad</th>
              <th class="py-4">Ad Date</th>
              <th class="py-4">Credited Date</th>
              <th class="py-4">Coins</th>
            </tr>

            <tr>
              <td class="py-4">AD-01</td>
              <td class="py-4">Bandner Ad</td>
              <td class="py-4">18/09/2016</td>
              <td class="py-4">1</td>
            </tr>
            <tr>
                <td class="py-4">AD-01</td>
                <td class="py-4">Bandner Ad</td>
                <td class="py-4">18/09/2016</td>
                <td class="py-4">1</td>
              </tr>
          
              <tr>
                <td class="py-4">AD-01</td>
                <td class="py-4">Bandner Ad</td>
                <td class="py-4">18/09/2016</td>
                <td class="py-4">4</td>
              </tr>
              <tr>
                <td class="py-4">AD-01</td>
                <td class="py-4">Bandner Ad</td>
                <td class="py-4">18/09/2016</td>
                <td class="py-4">1</td>
              </tr>
          </table>
             <div class="dash_bor_rsp_va my-3">
      <a href="#" class="mx-3">View All</a>
    </div>
        </div>
        
      </div>

      <div class="dash_bor_table2">
          
          
        <div class="dash_bor_split px-4">
          <h5></h5>
          
        </div>

        <div class="px-4">
            <div class="background my-lg-5">
            <div style="position:relative;top:20px;">
                <center><i class="fa-solid fa-wallet dash_db_user"></i></center>
                
                 <center> <h1 style="color: #52C193">1800</h1>
                 <p style="color:#6E717A;">Total Commission</p></center>
                 </div>
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-6">
                        <center><div style="background-color:  #fdf7f2;height:100px;width:240px;border-radius:80px;margin-top:25px;margin-bottom:10px;padding:12px;">
                        <h3 style="color:#F27E64;">80</h3>
                       <p style="color:#6E717A;">Bandner Advertisement</p>
                        </div></center>
                    </div> 
                    <div class="col-lg-6 col-md-6">
                        
                        <center><div style="background-color:  #edfffd;height:100px;width:240px;border-radius:80px;margin-top:25px;padding:12px">
                            <h3 style="color: #52C193;">80</h3>
                            <p style="color:#6E717A;">Bandner Advertisement</p>
                            </div></center>
                        </div>
                        <div></div>
                    </div> 
                </div>
              </div>
          
        </div>


      </div>
      
    </div>
    <!-- over -->
  </div>
   
 </div>


 
 <script src="{% static 'js/main.js'%}"></script>


</body>
</html>