{% if "ad_distributor/ad_distributor_admin_dashboard" in current_path %}

<ul>
    <li><a href="/ad_distributor/ad_distributor_admin_dashboard/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/ad_distributor/ad_dis_account/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/ad_distributor/ad_dis_list/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Ads</span></a></li>
    <li><a href="/ad_distributor/ad_dis_users/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Users</span></a></li>
    <li><a href="/ad_distributor/ad_dis_settings/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>

  {% elif "ad_distributor/ad_dis_account" in current_path %}
  <ul>
    <li><a href="/ad_distributor/ad_distributor_admin_dashboard/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/ad_distributor/ad_dis_account/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/ad_distributor/ad_dis_list/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Ads</span></a></li>
    <li><a href="/ad_distributor/ad_dis_users/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Users</span></a></li>
    <li><a href="/ad_distributor/ad_dis_settings/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>
  {% elif "ad_distributor/ad_dis_editAccount" in current_path %}
  <ul>
    <li><a href="/ad_distributor/ad_distributor_admin_dashboard/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/ad_distributor/ad_dis_account/{{key.uid}}" class="nav-link scrollto active "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/ad_distributor/ad_dis_list/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-file-text"></i> <span>Ads</span></a></li>
    <li><a href="/ad_distributor/ad_dis_users/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Users</span></a></li>
    <li><a href="/ad_distributor/ad_dis_settings/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>
  {% elif "ad_distributor/ad_dis_acc_balance" in current_path %}
  <ul>
    <li><a href="/ad_distributor/ad_distributor_admin_dashboard/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/ad_distributor/ad_dis_account/{{key.uid}}" class="nav-link scrollto active "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/ad_distributor/ad_dis_list/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-file-text"></i> <span>Ads</span></a></li>
    <li><a href="/ad_distributor/ad_dis_users/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Users</span></a></li>
    <li><a href="/ad_distributor/ad_dis_settings/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>
  {% elif "ad_distributor/ad_dis_adFunds" in current_path %}
  <ul>
    <li><a href="/ad_distributor/ad_distributor_admin_dashboard/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/ad_distributor/ad_dis_account/{{key.uid}}" class="nav-link scrollto active "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/ad_distributor/ad_dis_list/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-file-text"></i> <span>Ads</span></a></li>
    <li><a href="/ad_distributor/ad_dis_users/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Users</span></a></li>
    <li><a href="/ad_distributor/ad_dis_settings/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>
  
  {% elif "ad_distributor/ad_dis_list" in current_path %}
  <ul>
    <li><a href="/ad_distributor/ad_distributor_admin_dashboard/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/ad_distributor/ad_dis_account/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/ad_distributor/ad_dis_list/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-file-text"></i> <span>Ads</span></a></li>
    <li><a href="/ad_distributor/ad_dis_users/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Users</span></a></li>
    <li><a href="/ad_distributor/ad_dis_settings/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>
  {% elif "ad_distributor/ad_dis_active" in current_path %}
  <ul>
    <li><a href="/ad_distributor/ad_distributor_admin_dashboard/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/ad_distributor/ad_dis_account/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/ad_distributor/ad_dis_list/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-file-text"></i> <span>Ads</span></a></li>
    <li><a href="/ad_distributor/ad_dis_users/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Users</span></a></li>
    <li><a href="/ad_distributor/ad_dis_settings/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>
  {% elif "ad_distributor/ad_dis_pending" in current_path %}
  <ul>
    <li><a href="/ad_distributor/ad_distributor_admin_dashboard/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/ad_distributor/ad_dis_account/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/ad_distributor/ad_dis_list/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-file-text"></i> <span>Ads</span></a></li>
    <li><a href="/ad_distributor/ad_dis_users/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Users</span></a></li>
    <li><a href="/ad_distributor/ad_dis_settings/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>
  {% elif "ad_distributor/ad_dis_deactive" in current_path %}
  <ul>
    <li><a href="/ad_distributor/ad_distributor_admin_dashboard/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/ad_distributor/ad_dis_account/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/ad_distributor/ad_dis_list/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-file-text"></i> <span>Ads</span></a></li>
    <li><a href="/ad_distributor/ad_dis_users/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Users</span></a></li>
    <li><a href="/ad_distributor/ad_dis_settings/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>
  {% elif "ad_distributor/ad_dis_closed" in current_path %}
  <ul>
    <li><a href="/ad_distributor/ad_distributor_admin_dashboard/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/ad_distributor/ad_dis_account/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/ad_distributor/ad_dis_list/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-file-text"></i> <span>Ads</span></a></li>
    <li><a href="/ad_distributor/ad_dis_users/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Users</span></a></li>
    <li><a href="/ad_distributor/ad_dis_settings/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>

  {% elif "ad_distributor/ad_dis_editAd" in current_path %}
  <ul>
    <li><a href="/ad_distributor/ad_distributor_admin_dashboard/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/ad_distributor/ad_dis_account/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/ad_distributor/ad_dis_list/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-file-text"></i> <span>Ads</span></a></li>
    <li><a href="/ad_distributor/ad_dis_users/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Users</span></a></li>
    <li><a href="/ad_distributor/ad_dis_settings/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>

  {% elif "ad_distributor/ad_dis_createAd" in current_path %}
  <ul>
    <li><a href="/ad_distributor/ad_distributor_admin_dashboard/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/ad_distributor/ad_dis_account/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/ad_distributor/ad_dis_list/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-file-text"></i> <span>Ads</span></a></li>
    <li><a href="/ad_distributor/ad_dis_users/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Users</span></a></li>
    <li><a href="/ad_distributor/ad_dis_settings/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>
  {% elif "ad_distributor/ad_dis_adDetails" in current_path %}
  <ul>
    <li><a href="/ad_distributor/ad_distributor_admin_dashboard/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/ad_distributor/ad_dis_account/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/ad_distributor/ad_dis_list/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-file-text"></i> <span>Ads</span></a></li>
    <li><a href="/ad_distributor/ad_dis_users/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Users</span></a></li>
    <li><a href="/ad_distributor/ad_dis_settings/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>

  {% elif "ad_distributor/ad_dis_users" in current_path %}
  <ul>
    <li><a href="/ad_distributor/ad_distributor_admin_dashboard/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/ad_distributor/ad_dis_account/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/ad_distributor/ad_dis_list/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Ads</span></a></li>
    <li><a href="/ad_distributor/ad_dis_users/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-person-fill"></i> <span>Users</span></a></li>
    <li><a href="/ad_distributor/ad_dis_settings/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>
  {% elif "ad_distributor/ad_dis_addusers" in current_path %}
  <ul>
    <li><a href="/ad_distributor/ad_distributor_admin_dashboard/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/ad_distributor/ad_dis_account/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/ad_distributor/ad_dis_list/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Ads</span></a></li>
    <li><a href="/ad_distributor/ad_dis_users/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-person-fill"></i> <span>Users</span></a></li>
    <li><a href="/ad_distributor/ad_dis_settings/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>

  {% elif "ad_distributor/ad_dis_settings" in current_path %}
  <ul>
    <li><a href="/ad_distributor/ad_distributor_admin_dashboard/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/ad_distributor/ad_dis_account/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/ad_distributor/ad_dis_list/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Ads</span></a></li>
    <li><a href="/ad_distributor/ad_dis_users/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Users</span></a></li>
    <li><a href="/ad_distributor/ad_dis_settings/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>

  {% endif %}