<ul>
    <li><a href="/ad_provider/ad_provider_admin_dashboard/<id>" class="nav-link scrollto active"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/ad_provider/ad_pro_account/<id>" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/ad_provider/ad_pro_list/<id>" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Ads</span></a></li>
    <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Users</span></a></li>
    <li><a href="#services" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>

