<html>
    <head>
<!-- Bootstrap Style Sheet Version - 3.3.7 -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="all">

<!-- jQuery Version - 3.2.1 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Bootstrap JS File Version - 3.3.7 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
<!-- Paradise Slider -->
<div class="x_001_laptop_main_wrap"> <!-- Laptop Main Wrapper -->
    <div class="row"> <!-- .row -->
    
      <div class="col-md-7"> <!-- .col-md-7 -->
        <div class="x_001_laptop_inner_wrap"> <!-- Laptop Inner Wrapper -->
          <!-- Laptop Image -->
          <img src="paradise/images/x_001_laptop_img.png" alt="x_001_laptop_img">
    
          <!-- Slider -->
          <div id="x_001_laptop" class="carousel slide x_001_laptop_indicators x_001_laptop_control_button thumb_scroll_x
          swipe_x ps_easeOutQuad" data-ride="carousel" data-pause="hover" data-interval="8000" data-duration="2000">
  
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#x_001_laptop" data-slide-to="0" class="active"></li>
              <li data-target="#x_001_laptop" data-slide-to="1"></li>
              <li data-target="#x_001_laptop" data-slide-to="2"></li>
            </ol>
      
            <!-- Wrapper For Slides -->
            <div class="carousel-inner" role="listbox">
  
              <!-- First Slide -->
              <div class="item active">
                <!-- Background Image -->
                <img src="paradise/images/x_001_laptop_01.jpg" alt="x_001_laptop_01">
              </div> <!-- /item -->
              <!-- End of Slide -->
  
              <!-- Second Slide -->
              <div class="item">
                <!-- Background Image -->
                <img src="paradise/images/x_001_laptop_02.jpg" alt="x_001_laptop_02">
              </div> <!-- /item -->
              <!-- End of Slide -->
            
              <!-- Third Slide -->
              <div class="item">
                <!-- Background Image -->
                <img src="paradise/images/x_001_laptop_03.jpg" alt="x_001_laptop_03">
              </div> <!-- /item -->
              <!-- End of Slide -->
  
            </div> <!-- End of Wrapper For Slides -->
  
            <!-- Left Control -->
            <a class="left carousel-control" href="#x_001_laptop" role="button" data-slide="prev">
              <span class="fa fa-angle-left"></span>
            </a>
  
            <!-- Right Control -->
            <a class="right carousel-control" href="#x_001_laptop" role="button" data-slide="next">
              <span class="fa fa-angle-right"></span>
            </a>
  
          </div> <!--End Slider -->
  
        </div> <!-- /Laptop Inner Wrapper -->
      </div> <!-- /.col-md-7 -->
  
      <div class="col-md-5"> <!-- .col-md-5 -->
        <h1>paradise slider</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam nibh. Nunc varius facilisis eros. Sed erat.
        In in velit quis arcu ornare laoreet. Curabitur adipiscing luctus massa. Integer ut purus ac augue commodo
        commodo. Nunc nec mi eu justo tempor consectetuer. Etiam vitae nisl.</p>
        <a href="#">read more</a>
      </div> <!-- /.col-md-5 -->
    
    </div> <!-- /.row -->
  </div> <!-- /Laptop Main Wrapper -->
  <!-- End Paradise Slider -->
              </body>
    </html>