<ul>
    <li><a href="/hiring_manager/hm_dmin_dashboard/<id>" class="nav-link scrollto active"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
    <li><a href="/hiring_manager/hm_profile/<id>" class="nav-link scrollto"><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
    <li><a href="/hiring_manager/hm_local_admin/<id>" class="nav-link scrollto"><i class="fas fa-user-tie"></i> <span>Local Admin</span></a></li>
    <li><a href="/hiring_manager/hm_ad_provider/<id>" class="nav-link scrollto"> <i class="fas fa-bullhorn"></i> <span>Ad Provider</span></a></li>
    <li><a href="/hiring_manager/hm_sales_person/<id>" class="nav-link scrollto"><i class="fas fa-bullhorn"></i> <span>Sales</span></a></li>
    <li><a href="/hiring_manager/hm_hiring_manager/<id>" class="nav-link scrollto"><i class="fas fa-user-tie"></i> <span>Hiring Manager</span></a></li>

    <li><a href="/hiring_manager/hm_settings/<id>" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
  </ul>