<!DOCTYPE html>
<html>
  {% load static %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Affiliate Program-Commission</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/af_1style.css'%}">

<link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">

	  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- BS -->
  <!-- <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <!-- over -->

  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,500;9..40,700&family=Qwitcher+Grypen&family=Rubik+Pixels&display=swap" rel="stylesheet">
  <!-- over -->

</head>
<body style=" background-color:#F4F2FF;">
   
 <div class="dash_bor_sec1">

  <div class="dash_bor_sdbr" id="dashsidebar">

      <header id="header">
    <div class="d-flex flex-column">
       <img src="{% static 'images/Logo.png'%}" alt="" class="Logo mt-4 ms-3">
      <nav id="navbar" class="nav-menu navbar">
       
        {% include 'af_nav.html'%}


      </nav>
      <!-- .nav-menu -->
    </div>
    <h5 style="position:absolute;bottom:20px;color:white;font-size:0.6em;left:20px;">© 2020 Marryoo. All rIghts reserved</h5>
  </header>
  
  </div>

  <div class="dash_bor_main1">
    <!-- start1-->

    <div class="dash_par1" style="background:white;">

          <i class="fa-regular fa-bell"></i>

        <div class="dash_brd_img1">
         <img src="{% static 'images/girl1.png'%}">
         <i class="fa-solid fa-caret-down"></i>
         </div>

    </div>
    <i class="bi bi-list fa-solid mobile-nav-toggle fa-bars" id="dashnavclick"></i>
    <!-- over -->

    <!-- start -->
    <div class="loc_adm_bala py-3 px-3">
     
     <h3 style="color: #3247CE;">Commissions</h3>

     <div class="loc_adm_bala_par1 my-5"> 

      <div class="loc_adm_bala_chi1" style="background-color: #ffefef;">
        
        <div>
          <img src="{% static 'images/copper-coin-line.png'%}">
        </div>

            <div>
              <h3 style="color:#EB5757;">₹<span style="font-family: 'DM Sans', sans-serif;font-weight:700;"> 100</span></h3>
              <p>Redeem Emera Coins <span><a href="#">Details</a></span></p>
            </div>


      </div>

        <div class="loc_adm_bala_chi2">

          <i class="fa-solid fa-ticket"></i>
          <h6>Total Emera Coins</h6>
        
      </div>
       
     </div>

     <h4 style="color:#2B3674;font-weight:700;">Coin Transaction History</h4>

     <div class="loc_adm_bala_tables px-3">

      <table>
        <thead>
          <tr>
            <th>#No</th>
            <th>Details</th>
            <th>User Code</th>
           
            <th>Date</th>
            <th>Time</th>
            <th>Coins</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>1</td>
            <td data-label="Name"><img src="{% static 'images/girl6.png'%}"> Noah</td>
            <td>THO1234</td>
           
            <td>7/11/19</td>
            <td>5:45 am</td>
            
            <td> 1</td>
          </tr>
            <tr>
            <td>1</td>
            <td data-label="Name"><img src="{% static 'images/girl6.png'%}"> Noah</td>
            <td>THO1234</td>
            
            <td>7/11/19</td>
            <td>5:45 am</td>
           
            <td>5</td>
          </tr>
            <tr>
            <td>1</td>
            <td data-label="Name"><img src="{% static 'images/girl6.png'%}"> Noah</td>
            <td>THO1234</td>
            
            <td>7/11/19</td>
            <td>5:45 am</td>
         
            <td>6</td>
          </tr>
            <tr>
            <td>1</td>
            <td data-label="Name"><img src="{% static 'images/girl6.png'%}"> Noah</td>
            <td>THO1234</td>
           
            <td>7/11/19</td>
            <td>5:45 am</td>
            
            <td>6</td>
          </tr>
            <tr>
            <td>1</td>
            <td data-label="Name"><img src="{% static 'images/girl6.png'%}"> Noah</td>
            <td>THO1234</td>
            
            <td>7/11/19</td>
            <td>5:45 am</td>
            
            <td>10</td>
          </tr>
           <tr>
            <td>1</td>
            <td data-label="Name"><img src="{% static 'images/girl6.png'%}"> Noah</td>
            <td>THO1234</td>
            
            <td>7/11/19</td>
            <td>5:45 am</td>
        
            <td>3</td>
          </tr>
           <tr>
            <td>1</td>
            <td data-label="Name"><img src="{% static 'images/girl6.png'%}"> Noah</td>
            <td>THO1234</td>
            
            <td>7/11/19</td>
            <td>5:45 am</td>
            
            <td>5</td>
          </tr>
           <tr>
            <td>1</td>
            <td data-label="Name"><img src="{% static 'images/girl6.png'%}"> Noah</td>
            <td>THO1234</td>
          
            <td>7/11/19</td>
            <td>5:45 am</td>
           
            <td>1</td>
          </tr>

        </tbody>
      </table>
       
     </div>

      
    </div>
    <!-- over -->


   </div>



 
   <script src="{% static 'js/main.js'%}"></script>


</body>
</html>

<!--   -->