<!DOCTYPE html>
<html>
  {% load static %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Affiliate Program-Edit Account</title>

  <link rel="stylesheet" type="text/css" href="{% static 'css/af_1style.css'%}">

<link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">

	  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- BS -->
  <!-- <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <!-- over -->
 <script src="js/jquery.js"></script>
</head>
<body style=" background-color:#F4F2FF;">
   
 <div class="dash_bor_sec1">

  <div class="dash_bor_sdbr" id="dashsidebar">

      <header id="header">
    <div class="d-flex flex-column">
       <img src="{% static 'images/Logo.png'%}" alt="" class="Logo mt-4 ms-3">
      <nav id="navbar" class="nav-menu navbar">
       
        {% include 'af_nav.html'%}

      </nav>
      <!-- .nav-menu -->
    </div>
    <h5 style="position:;bottom:;color:white;font-size:0.6em;left:20px;">© 2020 Marryoo. All rIghts reserved</h5>
  </header>
  
  </div>
</div>
  <div class="dash_bor_main1">
    <!-- start1-->

    {% include 'af_header.html' %}
    <i class="bi bi-list fa-solid mobile-nav-toggle fa-bars" id="dashnavclick"></i>
    <!-- over -->

    <!-- start -->
    <div class="locl_adm_sec1 px-4 my-4">

     <h4 style="color:#3247CE"><a href="/affiliate_marketing/af_profile/{{key.uid}}" style="text-decoration: none;"><span style="color: #6E717A">Profile ></span></a>Edit Account</h4>
    
    </div>
    <div class="locl_adm_sec2 px-4 my-2">
        <div class="rowbg1">
            
              
                <form method="POST" action="#" enctype="multipart/form-data">
                  {% csrf_token %}
         <div class="row py-3">
                    <div class="col-lg-4 col-md-4">
                     <label for="exampleFormControlInput1" class="form-label editpro_formhed"><b>Full Name</b><sup style="color: #9B51E0">*</sup></label>
                     <input type="text" name="full_name" value="{{key.full_name}}" class="form-control" placeholder="Enter" required>
                     </div>
                     <div class="col-lg-4 col-md-4">
                     <label for="exampleFormControlInput1" class="form-label editpro_formhed"><b>Country</b><sup style="color: #9B51E0">*</sup></label>
                     <select id="countrytwo" name="personal_country" class="form-select" onchange="fun2.call(this,event)">
                      <option value="{{key.personal_country}}">{{key.personal_country}}</option>
                      {% for j in all %}
                      <option value="{{j.name}}">{{j.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <label for="exampleFormControlInput1" class="form-bel editpro_formhed"><b>City</b><sup style="color: #9B51E0">*</sup></label>
                    <select id="res3" name="personal_city" class="form-select" >
                     <option value="{{key.personal_city}}">{{key.personal_city}}</option>
                     <script>
                       stat = {{ states|safe }};
                   ttt = stat[0].states;
                   for (i=0;i<ttt.length;i++){
                      tt = ttt[i].name;
                      document.write("<option value="tt">"+tt+"</option>");
                   }
                 </script>
                   </select>
                   </div>
                <div class="py-3">
                <label for="exampleFormControlInput1" class="form-label editpro_formhed"><b>Address</b><sup style="color: #9B51E0">*</sup></label>
                     <input type="text" name="personal_address" value="{{key.personal_address}}"  class="form-control" placeholder="Enter" required>
                     </div>
                     <div>
                     <label for="exampleFormControlInput1" class="form-label editpro_formhed py-3"><b>Profile Picture</b><sup style="color: #9B51E0">*</sup></label>
         <div class="editpro_id">
          <p style="color:#6E717A">Drag Or Click here to Upload Your Profile Picture</p>

          <input type="file" name="profile_picture" id="" style="
          max-width: 100%;
          height: 50%;
          position: absolute;
          opacity: 0;
      ">
      <img src="{{key.profile_picture}}" style="display: flex;width: 100%;object-fit: contain;padding: 9px;">

                   <!-- <center><div class="editpro_id_inner">
                    
                    <i class='fas fa-file-alt' style='font-size:40px;color: #3247CE'></i>
                   </div></center> -->
                   
         </div>
                    </div>
                   
                    <div class="row py-3">
                        <div class="form-check">
                            <div class="col-lg-5 col-md-5">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked">
                              I agree to the Terms of Service and Privacy Policy
                            </label>
                          </div>
                          
                    </div>
                    <div class="prof_personal_savefilt1">
                        <button class="prof_personal_filbtn1 my-3" type="reset">Cancel</button>
                        <button class="prof_personal_filbtn2 my-3" type="submit">Update</button>
                      </div>
                      <div class="col-lg-7 col-md-7"></div>
                    </div>

              </form>

            </div>
            
        
             </div>      
      </div>
    <!-- over -->
<!-- start -->


  <!-- over -->
  <script type="text/javascript">
    function fun1(event){
    a = document.getElementById("countryone").value;
    // <!--document.getElementById("res").innerHTML=a;-->
    c = {{ country|safe }};
    position =c.indexOf(a);
    // <!--document.getElementById("res1").innerHTML=position;-->
    stat = {{ states|safe }};
    ttt = stat[position].states;
    tt = "<select>";
    for (i=0;i<ttt.length;i++){
       tt += "<option>"+ttt[i].name+"</option>";
    }
         tt+="</select>";
          document.getElementById("res2").innerHTML=tt;
    }
    
    </script>
  <script type="text/javascript">
    function fun2(event){
    a = document.getElementById("countrytwo").value;
    <!--document.getElementById("res").innerHTML=a;-->
    c = {{ country|safe }};
    position =c.indexOf(a);
    <!--document.getElementById("res1").innerHTML=position;-->
    stat = {{ states|safe }};
    ttt = stat[position].states;
    tt = "<select>";
    for (i=0;i<ttt.length;i++){
       tt += "<option>"+ttt[i].name+"</option>";
    }
         tt+="</select>";
          document.getElementById("res3").innerHTML=tt;
    }
    
    </script>

 
  <script src="{% static 'js/main.js'%}"></script>


</body>
</html>

<!--   -->