
  <ul>
      <li><a href="/affiliate_marketing/af_marketingdashboard/{{key.uid}}" class="nav-link scrollto active"><i class="bx bi-grid-fill"></i> <span>Dashboard</span></a></li>
      <li><a href="/affiliate_marketing/af_profile/{{key.uid}}" class="nav-link scrollto "><i class="bx bi-person-fill"></i> <span>Profile</span></a></li>
      <li><a href="/affiliate_marketing/af_commisions/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-file-text"></i> <span>Commission</span></a></li>
      <li><a href="/affiliate_marketing/af_setting/{{key.uid}}" class="nav-link scrollto"><i class="bx bi-gear"></i> <span>Settings</span></a></li>
    </ul>

