
.dash_bor_sdbr{
	width:20%;
	height:100%;
	background-color:#1A1D3F;
	position:fixed;
	transition:0.5s;
	z-index:10;
 
}



.dash_par1{
	display:flex;
	justify-content:right;
	align-items:center;
  padding:5px 0;
}

.dash_par1 i:first-child{
	margin:0 20px;
	font-size:1.5em;
}


.dash_bor_main1{
	height:100%;
	width:80%;
	position:absolute;
  right:0;


}

.dash_brd_img1{
	margin:0 20px;
	cursor:pointer;
}

.dash_brd_img1 img{
	width:42px;
	height:42px;
	border-radius:50%;
}

.dash_par2{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	gap:20px;
}
.dash_par2 button:hover{
	transition:0.5s;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.locl_adm_form button{
	transition:0.5s;

}


.dash_par2 button{
  background-color:#7B61FF;
  border-radius:10px;
  transition:0.5s;
  border:none;
  padding:10px 20px;
  font-weight:500;
  color:white;
}
.dash_bor_box{
	border-radius:10px;
	height:90px;
	width:220px;
	background-color:white;

}

.dash_par3{
	display:flex;
	gap:15px;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}

.dash_bor_box{
	display:flex;
	justify-content:space-around;
	align-items:center;
	padding:0 8px;

}

.dash_bor_box h4{
	font-weight:700;
}

.dash_db_user{
	font-size:0.9em;
	color:rgba(246, 160, 128, 1);
	border-radius:50%;
	background-color:rgba(246, 160, 128, 0.1);
  padding:16px 16px;
	margin:10px 0;
}

.dash_users{
	font-size:1.2em;
	color:rgba(123, 97, 255,1);
	border-radius:50%;
	background-color:rgba(123, 97, 255, 0.1);
  padding:16px 16px;
	margin:10px 0;
}

.dash_dot{
	font-size:1.2em;
	color:rgba(235, 87, 87, 1);
	border-radius:50%;
	background-color:rgba(235, 87, 87, 0.1);
  padding:16px 16px;
	margin:10px 0;
}

.dash_dlr{
	font-size:1.2em;
	color:rgba(43, 54, 116, 1);
	border-radius:50%;
	background-color:rgba(43, 54, 116, 0.1);
  padding:16px 16px;
	margin:10px 0;
}
.dash_nav{
		font-size:1.2em;
	color:rgba(140, 215, 207, 1);
	border-radius:50%;
	background-color:rgba(140, 215, 207, 0.1);
  padding:16px 16px;
	margin:10px 0;
}


.dash_bor_box h5{
	font-size:0.9em;
	color:#6E717A;
}

.dash_ratstr i{
	font-size:0.9em;
	color:#FBBC05;
}
.dash_strpos{
	display:flex;
	column-gap:8px;
	align-items:center;
}
/*media*/
@media(max-width:1215px){
	.dash_par3{
		justify-content:center;
	}
}

@media(max-width:1199px){
	.dash_bor_sdbr{
		left:-480px;
		width:40%;
		transition:0.5s;
	}
	.dash_bor_sdbr.actives{
		left:0;
		transition:0.5s;
	}
	.dash_bor_main1{
		width:100%;
	}
}

.dash_bor_rsp{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	row-gap:20px;
}

.dash_bor_rsp_1{
	display:flex;
	align-items:center;
	column-gap:50px;
}

.dash_bor_rsp_1 i{
	border-radius:10px;
	padding:10px 15px;
	color:white;
	cursor:pointer;
	background-color:rgba(110, 113, 122, 0.3);
}

.dash_bor_tables img{
	width:40px;
	height:40px;
	border-radius:50%;
}


.dash_bor_table img{
	width:40px;
	height:40px;
	border-radius:50%;
}
.dash_bor_table th,td{

	font-weight:500;
}

.dash_bor_table td{
	font-size:0.9em;
}



.dash_star_clr i {
	color:#FBBC05;
}

/*.dash_bor_cont{
	display:flex;
	justify-content:center;
	align-items:top;
}*/

.dash_bor_table_img1{
		display:flex;
		flex-direction:row;
		justify-content:center;
		align-items:top;
	column-gap:5px;
		background-color:white;
	}


@media(max-width:440px){
	.dash_bor_table td{
	font-size:0.7em;
}

.dash_bor_table th{
	font-size:0.7em;
}


}

@media(max-width:600px){
	.dash_bor_table_img{
		display:flex;
		justify-content:center;
		flex-direction:column;
		align-items:center;
	}
}

.dash_bor_rsp_va{
	background-color:white;
	padding:15px 0;
  width:100%;
  height:100%;
  	border-radius:10px;
}

.dash_bor_rsp_va a{
	font-weight:500;
	color:#7B61FF;
		text-decoration:none;
}


.dash_bor_split{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	row-gap:20px;
}

.dash_bor_split i{
	border-radius:10px;
	padding:10px 15px;
	color:white;
	cursor:pointer;
	background-color:rgba(110, 113, 122, 0.3);
}

.dash_bor_tables{
	display:flex;

	flex-wrap:wrap;
	row-gap:30px;
}
.dash_bor_table1{
	width:50%;
}

.dash_bor_table2{
	width:50%;
}

@media(max-width:1349px){
	.dash_bor_table1,.dash_bor_table2{
		width:100%;
	}
}



--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: #149ddd;
}
.mobile-nav-toggle{
	opacity:0;
}


@media(max-width:1199px){

.mobile-nav-toggle {
  position:absolute;
  right:200px;
  top: 3px;
  z-index: 9998;
  border: 0;
  font-size: 20px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #149ddd;
  color: #fff;
  padding:13px 14px;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  opacity:1;
  border-radius: 50px;
  cursor: pointer;
}
}

.locl_adm_sec1 {
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	gap:20px;
}

.locl_adm_align{

	display:flex;
	flex-wrap:wrap;
  position:relative;
}

.locl_adm_align input{
	width:255px;
	height:36px;
	padding:0 10px;
	border:3px solid rgba(102, 102, 102, 0.1);
	background-color:rgba(123, 97, 255, 0.1);
	outline:none;

	border-radius:9px;
}

.locl_adm_align i{
	position:absolute;
	left:212px;
	border-radius:9px;
	z-index:2;
	background-color:rgba(123, 97, 255, 0);
	padding:12px;
	cursor:pointer;
}

.locl_adm_form{
	display:flex;
	flex-wrap:wrap;
	gap:10px;
}

.locl_adm_form input{
	height:40px;
}

.locl_adm_form button{
	padding:8px 25px;
	border-radius:10px;
	transition:0.5s;
	font-weight:700;
}


.locl_adm_form button:nth-child(2){
	background-color:white;
	color:rgba(123, 97, 255, 1);
	border:2px solid rgba(123, 97, 255, 1);
}

.locl_adm_form button:nth-child(3){
	background-color:rgba(123, 97, 255, 1);
	color:white;
	border:none;
	
}
/*tabel*/

.locl_adm_table{
	border-radius:10px;
	height:450px;
	overflow-y:scroll;
}

.locl_adm_table th{
	font-size:1em;
	text-align:center;
	padding:30px 0;
	background-color:transparent;
}

.locl_adm_table img{
	width:37px;
	height:37px;
	border-radius:50%;
}

.locl_adm_table tbody tr:nth-child(odd){
  background-color:white;
  border-radius:10px;
}



.locl_adm_table td:first-child{
	border-radius:10px 0 0 10px;
}

.locl_adm_table td:last-child{
	border-radius:0 10px 10px 0;
}



.locl_adm_table td{
	font-size:1em;
	font-weight:600;

	text-align:center;
 
  padding:25px 0;
}


.locl_adm_table table{
	width:100%;

}
@media(max-width: 770px) {
     .locl_adm_table table {
        border: 0;

      }

     .locl_adm_table table caption {
        font-size: 1.3em;
        padding:15px 0;
      }

     .locl_adm_table table thead {
        display: none;
      }

      .locl_adm_table table tr {
        margin-bottom:60px;
        display: block;
        background-color:white;
        border-radius:10px;
      }


   

      .locl_adm_table table td {
        display: block;
        text-align: right;
        font-size: 13px;
        
        padding:20px 10px;
      }

      .locl_adm_table table td::before {
        content: attr(data-label);
        float: left;

        font-weight: bold;
        text-transform: uppercase;
      }
    }


.toggle-switch {
  position: relative;
  margin-left:10px;
  display: inline-block;
  width: 40px;
  height: 14px;
}

.toggle-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  border-style:black;
  content: "";
  height:20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px,rgba(0, 0, 0, 0.16) 0px 3px 6px;
  width:20px;
  top:-4px;
  left:-4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: rgba(123, 97, 255, 0.5);
}

input:checked + .slider:before {
  transform: translateX(26px);
  transition:0.5s;
  background-color: #7B61FF;
}

.locl_adm_action{
	border-radius:10px;
	padding:10px 15px;
	color: #7B61FF;
	cursor:pointer;
	cursor:pointer;
	background-color:rgba(110, 113, 122, 0.1);
}

.locl_adm_status{
	font-size:0.5em;
	color:#52C193;

}

/*scroll*/
::-webkit-scrollbar {
  width: 10px;

}

/* Track */
::-webkit-scrollbar-track {

  border-radius: 10px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7B61FF;
  transition:0.5s; 
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D883F0; 
  transition:0.5s;
}
/*over*/
/*modal*/
.prof_personal_filt button{
	padding:0;
	border:none;
	background:white !important;

}

.prof_personal_filt i{
	font-size:1.4em;
	color:black;
}
.prof_personal_filt2 label{
	color:#2B3674;
	font-weight:500;
   font-size:1em;
}
.prof_personal_filt2 input{
	padding:13px 3px;
}
.prof_personal_savefilt1 a{
	text-align:center;
	color:#7B61FF;
	font-weight:500;
	text-decoration:none;
}
.prof_personal_savefilt1 a:hover{
	text-decoration:underline;
}
.prof_personal_filbtn1{
  color:#7B61FF;
  transition:0.5s;
	border:1px solid #7B61FF;
	background:white;
}

.prof_personal_filbtn2{
	background: linear-gradient(63deg,blue,#b772b7 );
	color:white;
	transition:0.5s;
  	border:1px solid white;
}

.prof_personal_savefilt1 button{
	 border-radius:10px;
	padding:7px 60px;
}

.prof_personal_filbtn2:hover{
	background:white;
	transition:0.5s;
	color:black;
	border:1px solid black;
}
.prof_personal_filbtn1:hover{
	background:#7B61FF;
	transition:0.5s;
	color:white;

}

.prof_personal_filt2 label{
	color:#2B3674;
	font-weight:500;
    font-size:1em;
}
.locl_adm_modal1 li{
  list-style:none;
  margin:30px auto;
  width:50%;
  font-weight:500;
}


.locl_adm_modal1 a{
	color:black;
	font-size:1.2em;
	text-decoration:none;
}

@media(max-width:1042px){
	.locl_adm_table th{
		font-size:0.78em;
	}

	.locl_adm_table td{
		font-size:0.78em;
	}
}

.locl_adm_table table strong[class="pending"]{
	color:#FFBF69;
	background-color:rgba(255, 191, 105, 0.3);
	padding:5px 10px;
	font-weight:700;
	border-radius:10px;
}


.locl_adm_table table strong[class="reply"]{
	color:rgba(52, 168, 83, 1);
	background-color:rgba(52, 168, 83, 0.2);
	padding:5px 10px;
	font-weight:700;
	border-radius:10px;
}
.locl_adm_comp_modal{
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin:10px auto;
	gap:20px;
	width:80%;
}
.locl_adm_comp_modal h5{
	font-weight:700;
}
.locl_adm_comp_modal_fotter button{
	border-radius:10px;
	padding:10px 20px;
	font-weight:700;
	transition:0.5s;

}
.locl_adm_comp_modal_fotter button:hover{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.locl_adm_comp_modal h6{
	font-weight:400;
}
.locl_adm_comp_modal_fotter button:nth-child(1){
	background-color:rgba(102, 102, 102,0.1);
	color:rgba(102, 102, 102,0.9);
	border:2px solid rgba(102, 102, 102,0.1);
}
.locl_adm_comp_modal_fotter button:nth-child(2){
	background:linear-gradient(56deg, #2B44CC 17.79%, #D883F0 73.51%, #E487F3 77.35%);
	border:none;
	color:white;
}
/*over*/